<%= simple_form_for @product do |f| %>
<p><%= f.input :title %></p>
<p><%= f.input :content %></p>
<p><%= f.input :price %></p>
<p>
      <%= f.label :brand %><br>
      <%= f.collection_select(:brand_id, Brand.all, :id, :title) %>
    </p>

    <p>
      <%= f.label :category %><br>
      <%= f.collection_select(:category_id, Category.all, :id, :title) %>
    </p>
  <p><%= f.button :submit %></p>
<% end %>
