<%= simple_form_for @product do |f| %>
<p><%= f.input :title %></p>
<p><%= f.input :content %></p>
<p><%= f.input :category %></p>
<p><%= f.input :brand %></p>
  <p><%= f.button :submit %></p>
<% end %>
