<h1>Ürün</h1>
<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>İçerik:</strong>
  <%= @product.content %>
</p>

<p>
  <strong>Fiyat:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Kategori:</strong>
  <%= @product.category.title %>
</p>

<p>
  <strong>Marka:</strong>
  <%= @product.brand.title %>
</p>
<p>
<strong>Etiket:</strong>
<%= @product.tag_ids %>
</p>
