<h1>Ürün</h1>


  <p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>İçerik:</strong>
  <%= @product.content %>
</p>

<p>
  <strong>Fiyat:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Kategori:</strong>
  <%= @product.category.title %>
</p>

<p>
  <strong>Marka:</strong>
  <%= @product.brand.title %>
</p>


<div class="item-img" style="width:300px; background-image: url('https://www.momastore.org/wcsstore/MOMASTORE1/images/products/96511_A2_Print_NYC_8x10_In.jpg'); background-size: auto auto; background-size: 150%; background-position: center 30%;"></div>
